@import "tailwindcss";
@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); } 
  }
  
  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 30s linear infinite;
  }
  
  .animate-marquee:hover {
    animation-play-state: paused;
  }

  @keyframes slideInRight {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
.animate-in {
  animation: slideInRight 0.3s ease-out forwards;
}